// Height
$header-height: 68px;

// colors
$border-color: #dbdbdb;
$color-hover-0: #fb4226;
$color-gray: #9e9e9e;
$color-white: #fff;
$color-hover-1: rgb(96 165 250);

// background color
$bg-white: #fff;
$bg-black-0: #212121;
$bg-black-1: #0a2029;
$bg-black-2: #021224;

// Screen
$mobile-width: 426px;
$tablet-width: 1023px;
$pc-width: 1024px;
