// Height
$header-height: 68px;

// colors
$border-color: #dbdbdb;
$color-hover-0: #fb4226;
$color-gray: #9e9e9e;
$color-white: #fff;

// background color
$bg-white: #fff;
$bg-black-0: #212121;

// Screen
$mobile-width: 426px;
$tablet-width: 1023px;
$pc-width: 1024px;
